<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "home", "data-turbo-track": "reload" %> 
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
      <div class="header_banner">
        <div class="header_align">
          <h1>CUSTOM DIGITAL PRODUCT DESIGN, DEVELOPMENT AND DELIVERY</h1>
          <p>Tringapps is a world-class software development company crafting state-of-the-art consumer products, enterprise solutions, and media experiences across all platforms and devices.</p>
        </div>
      </div>
      <div class="home_header_container">
        <h1>We’re in the Business of Digital Innovation</h1>
        <p>Tringapps is a full-service technology solution provider offering comprehensive product engineering services marked by innovation, experience, and technical expertise. We work hand-in-hand with our customers to create engaging consumer products, mission-critical technology solutions, and stunning streaming experiences. With hundreds of millions of users across the globe, our products touch countless lives every day.</p>
      </div>
      <div class="service_list_container d-flex flex-wrap mb-5">
        <div class="card mb-3" style="width: 32.55%;  margin-right: 10px; border: none;">
          <img src="https://nx7ba7.p3cdn1.secureserver.net/wp-content/uploads/2022/11/cloud-services.jpg" alt="cloud image banner">
          <div class="card-body">
            <h5 class="card-title">CLOUD SERVICES</h5>
            <p class="card-text">Helping businesses mitigate cost, enhance agility, and seamlessly scale through the power of digital transformation.</p>
          </div>
        </div>
        <div class="card mb-3" style="width: 32.54%;  margin-right: 10px; border: none;">
          <img src="https://nx7ba7.p3cdn1.secureserver.net/wp-content/uploads/2022/11/ui-ux-creative.jpg" class="card-img-top" alt="ui/ux image banner">
          <div class="card-body">
            <h5 class="card-title">UI/UX CREATIVE</h5>
            <p class="card-text">Our award-winning UX/UI specialists will exceed all expectations as they devise and design your customers’ digital experience.</p>
          </div>
        </div>
        <div class="card mb-3" style="width: 32.55%;  margin-right: 10px; border: none;">
          <img src="https://nx7ba7.p3cdn1.secureserver.net/wp-content/uploads/2022/11/mobile-app-development.jpg" class="card-img-top" alt="mobile image banner">
          <div class="card-body">
            <h5 class="card-title">MOBILE APP DEVELOPMENT</h5>
            <p class="card-text">Build and scale mobile app solutions across multiple platforms and devices to reach your customers on the go.</p>
          </div>
        </div>
        <div class="card mb-3" style="width:  32.55%; margin-right: 10px; border: none;">
          <img src="https://nx7ba7.p3cdn1.secureserver.net/wp-content/uploads/2022/11/ott.jpg" class="card-img-top" alt="ott image banner">
          <div class="card-body">
            <h5 class="card-title">OTT APP DEVELOPMENT</h5>
            <p class="card-text">We offer a comprehensive suite of services to help manage, deliver, and monetize your OTT content, with a special emphasis on streaming video.</p>
          </div>
        </div>
        <div class="card mb-3" style="width:  32.54%; margin-right: 10px; border: none;">
          <img src="https://nx7ba7.p3cdn1.secureserver.net/wp-content/uploads/2022/11/full-stack.jpg" class="card-img-top" alt="fullstack image banner">
          <div class="card-body">
            <h5 class="card-title">FULL STACK DEVELOPMENT</h5>
            <p class="card-text">Accelerate the creation and delivery of your scalable web products with our custom-built front-end and back-end solutions.</p>
          </div>
        </div>
        <div class="card mb-3" style="width:  32.55%; margin-right: 10px; border: none;">
          <img src="https://nx7ba7.p3cdn1.secureserver.net/wp-content/uploads/2022/11/data-analytics.jpg" class="card-img-top" alt="data image banner">
          <div class="card-body">
            <h5 class="card-title">DATA ANALYTICS</h5>
            <p class="card-text">We provide cutting-edge data analysis tools and strategies to transform your raw data into actionable insights.</p>
          </div>
        </div>
        <div class="card mb-3" style="width:  32.55%; margin-right: 10px; border: none;">
          <img src="https://nx7ba7.p3cdn1.secureserver.net/wp-content/uploads/2022/11/dev-ops.jpg" class="card-img-top" alt="devops image banner">
          <div class="card-body">
            <h5 class="card-title">DEVOPS</h5>
            <p class="card-text">Improve the synergy between people, tools, and automation for faster time-to-market, increased efficiency, and reduced cost.</p>
          </div>
        </div>
        <div class="card mb-3" style="width:  32.54%; margin-right: 10px; border: none;">
          <img src="https://nx7ba7.p3cdn1.secureserver.net/wp-content/uploads/2022/11/cyber-security.jpg" class="card-img-top" alt="cybersecurity image banner">
          <div class="card-body">
            <h5 class="card-title">CYBER SCURITY</h5>
            <p class="card-text">Assess and manage your security risk by developing tools and frameworks to control user access, monitor threats, prevent intrusion, and ensure compliance.</p>
          </div>
        </div>
        <div class="card mb-3" style="width:  32.55%; margin-right: 10px; border: none;">
          <img src="https://nx7ba7.p3cdn1.secureserver.net/wp-content/uploads/2022/11/digitial-marketing.jpg" class="card-img-top" alt="marketing image banner">
          <div class="card-body">
            <h5 class="card-title">DIGITAL MARKETING</h5>
            <p class="card-text">Develop and implement go-to-market strategies that align marketing with business goals, build brand awareness, enhance engagement, and increase uptake.</p>
          </div>
        </div>
      </div>
      <div>
        <div class="home_header_container">
          <h1>1000+ Digital Experiences Delivered</h1>
          <p>We have developed some of the most complex modern mobile applications that use technologies like OpenGL ES, DRM for long form premium content, secure communications, financial transactions and more. When you work with us, you relax and see your vision come to life!</p>
        </div>
        <div class="row service_list_container">
          <div class="col-md-4 m-m-2">
            <img src="https://secureservercdn.net/45.40.145.201/nx7.ba7.myftpupload.com/wp-content/uploads/2022/08/1.png" alt="eonline bg image">
            <div style="position: relative; bottom: 20%; padding:20px; color:#FFFFFF">
              <h5 class="card-title">Eonline</h5>
              <p class="card-text">Emmy-nominated application development for Eonline.</p>
            </div>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6 m-m-2">
                <img src="https://secureservercdn.net/45.40.145.201/nx7.ba7.myftpupload.com/wp-content/uploads/2022/08/02.png" alt="jdrf bg image">
                <div style="position: relative; bottom: 25%; padding:25px; color:#FFFFFF">
                	<h5 class="card-title">JDRF</h5>
                  <p class="card-text">Designed an assistive healthcare digital platform for JDRF.</p>
                </div>
              </div>
              <div class="col-md-6 m-m-2">
                <img src="https://secureservercdn.net/45.40.145.201/nx7.ba7.myftpupload.com/wp-content/uploads/2022/08/03.png" alt="tivo bg image">
                <div style="position: relative; bottom: 25%; padding:25px; color:#FFFFFF">
                  <h5 class="card-title">TIVO</h5>
                  <p class="card-text">Designed & developed Roku, tvOS, iOS, server-side and android apps for TIVO.</p>
                </div>
              </div>
            </div>
            <div class="row m-t-40 handlr-top">
              <div class="col-md-12 m-m-2">
                <img src="https://secureservercdn.net/45.40.145.201/nx7.ba7.myftpupload.com/wp-content/uploads/2022/08/04.png" alt="handler bg image">
                <div style="position: relative; bottom: 25%; padding:25px; color:#FFFFFF">
                  <h5>HANDLER</h5>
                  <p>HandlR became a revolutionary one-stop platform for small businesses.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
