<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "portfolio", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
      <div class="header_container">
        <h1>1000+ Digital Experiences Delivered</h1>
        <p>We have developed some of the most complex modern mobile applications that use technologies like OpenGL ES, DRM for long form premium content, secure communications, 
        financial transactions and more. When you work with us, you relax and see your vision come to life!</p>
      </div>
      <div class="home_image_container">
        <div class="d-flex mb-3">
          <img class="image_size1" src="https://nx7ba7.p3cdn1.secureserver.net/wp-content/themes/tring/img/01.png">
          <img class="image_size2" src="https://nx7ba7.p3cdn1.secureserver.net/wp-content/themes/tring/img/02.png">
          <img class="image_size3" src="https://nx7ba7.p3cdn1.secureserver.net/wp-content/themes/tring/img/03.png">
        </div>
        <div class="d-flex mb-3">
          <img class="image_size3" src="https://nx7ba7.p3cdn1.secureserver.net/wp-content/themes/tring/img/04.png">
          <img class="image_size2" src="https://nx7ba7.p3cdn1.secureserver.net/wp-content/themes/tring/img/05.png">
          <img class="image_size1" src="https://nx7ba7.p3cdn1.secureserver.net/wp-content/themes/tring/img/06.png">
        </div>
        <div class="d-flex mb-3">
          <img class="image_size1" src="https://nx7ba7.p3cdn1.secureserver.net/wp-content/themes/tring/img/07.png">
          <img class="image_size2" src="https://nx7ba7.p3cdn1.secureserver.net/wp-content/themes/tring/img/08.png">
          <img class="image_size3" src="https://nx7ba7.p3cdn1.secureserver.net/wp-content/themes/tring/img/09.png">
        </div>
        <div class="d-flex mb-3">
          <img class="image_size3" src="https://nx7ba7.p3cdn1.secureserver.net/wp-content/themes/tring/img/10.png">
          <img class="image_size2" src="https://nx7ba7.p3cdn1.secureserver.net/wp-content/themes/tring/img/11.png">
          <img class="image_size1" src="https://nx7ba7.p3cdn1.secureserver.net/wp-content/themes/tring/img/12.png">
        </div>
        <div class="d-flex mb-3">
          <img class="image_size1" src="https://nx7ba7.p3cdn1.secureserver.net/wp-content/themes/tring/img/13.png">
          <img class="image_size2" src="https://nx7ba7.p3cdn1.secureserver.net/wp-content/themes/tring/img/14.png">
          <img class="image_size3" src="https://nx7ba7.p3cdn1.secureserver.net/wp-content/themes/tring/img/15.png">
        </div>
        <div class="d-flex mb-3">
          <img class="image_size3" src="https://nx7ba7.p3cdn1.secureserver.net/wp-content/themes/tring/img/16.png">
          <img class="image_size2" src="https://nx7ba7.p3cdn1.secureserver.net/wp-content/themes/tring/img/17.png">
          <img class="image_size1" src="https://nx7ba7.p3cdn1.secureserver.net/wp-content/themes/tring/img/24.png">
        </div>
        <div class="d-flex mb-3">
          <img class="image_size1" src="https://nx7ba7.p3cdn1.secureserver.net/wp-content/themes/tring/img/19.png">
          <img class="image_size2" src="https://nx7ba7.p3cdn1.secureserver.net/wp-content/themes/tring/img/23.png">
          <img class="image_size3" src="https://nx7ba7.p3cdn1.secureserver.net/wp-content/themes/tring/img/21.png">
        </div>
      </div>
    </div>
  </body>
</html>